* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* removed class header and replaced with <header> element*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* removed class header and replaced with <h1> element*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*removed class seo and added id seo*/
#seo {
    color: #d9dcd6;
}

/* changed type <div> to <nav> element*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*removed ul and added properties under li*/
nav > li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

nav > a {
    color: #ffffff;
    text-decoration: none;
}

nav > p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*combined benefit-type categories*/

.benefit-type {
    margin-bottom: 32px;
    color: #ffffff;
}
.benefit-type h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

 /*combined content */
 
.content-type {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-type img {
    max-height: 200px;
}

.content-type h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left{
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*removed class footer and replaced with type footer*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer > h2 {
    font-size: 20px;
}
